Repository ITA-OneByte/OneByte-FE, pull requests merged in 2025-01, with the labels that each got.

#76 Feat#75 로그인 api 연결
  src/api/authAPI.ts
  src/api/instance.ts
  src/assets/auth/email/error.svg
  src/constants/API.ts
  src/pages/auth/account.tsx
  src/pages/auth/class.tsx
  src/pages/auth/email.tsx
  src/pages/auth/signin.tsx
  src/pages/auth/signup.tsx
  src/pages/auth/style/class.styles.tsx
  src/pages/auth/style/email.styles.tsx
  src/types/auth.type.ts
Labels: 📬 API

#78 Feat#72 일정등록 모달 UI 완성
  src/Router.tsx
  src/components/modal/scheduleRegisterModal/ScheduleRegisterModal.styles.tsx
  src/components/modal/scheduleRegisterModal/ScheduleRegisterModal.types.ts
  src/components/modal/scheduleRegisterModal/index.tsx
  src/pages/attendance/Attendance.styles.tsx
  src/pages/attendance/index.tsx
  src/pages/schedule/scheduleRegister/index.tsx
Labels: ✨ Feature

#87 Feat#83: 리포트 API 연결
  src/api/reportAPI.ts
  src/assets/label/circleBlue.svg
  src/assets/label/circleGray.svg
  src/assets/label/circleLightBlue.svg
  src/components/imageIcon/icons.ts
  src/constants/API.ts
  src/pages/achievement/reportDetail/ReportDetail.styles.tsx
  src/pages/achievement/reportDetail/index.tsx
  src/pages/achievement/reportDetail/report.types.ts
  src/pages/achievement/reportList/ReportList.styles.tsx
  src/pages/achievement/reportList/index.tsx
  src/pages/achievement/reportRegister/index.tsx
  src/types/report.types.ts
Labels: 📬 API, ✨ Feature

#90 Feat#88 일정관리 사이드바 컴포넌트 구현 및 API 연결
  src/api/categoryAPI.ts
  src/assets/schedulesidebar/kebob.svg
  src/assets/schedulesidebar/task.svg
  src/components/managesidebar/ManageSidebar.styles.tsx
  src/components/modal/categoryModal/CategoryModal.styles.tsx
  src/components/modal/categoryModal/CategoryModal.types.ts
  src/components/modal/categoryModal/categoryDeleteModal/CategoryDeleteModal.styles.tsx
  src/components/modal/categoryModal/categoryDeleteModal/CategoryDeleteModal.types.ts
  src/components/modal/categoryModal/categoryDeleteModal/index.tsx
  src/components/modal/categoryModal/categoryEditModal/CategoryEditModal.styles.tsx
  src/components/modal/categoryModal/categoryEditModal/CategoryEditModal.types.ts
  src/components/modal/categoryModal/categoryEditModal/index.tsx
  src/components/modal/categoryModal/index.tsx
  src/components/popup/Popup.styles.tsx
  src/components/popup/index.tsx
  src/components/schedulesidebar/ScheduleSidebar.styles.tsx
  src/components/schedulesidebar/index.tsx
  src/constants/API.ts
  src/types/category.type.ts
  src/utils/colorMapping.ts
Labels: 📬 API, ✨ Feature

#92 Feat#85 일정 추가 api 및 달력 api연동
  package-lock.json
  package.json
  src/App.tsx
  src/api/calendarAPI.ts
  src/api/categoryAPI.ts
  src/components/calendar/fullcalendar/calendar.type.ts
  src/components/calendar/fullcalendar/customcalendar.css
  src/components/calendar/fullcalendar/index.tsx
  src/components/modal/eventScheduleModal/EventScheduleModal.styles.tsx
  src/components/modal/eventScheduleModal/index.tsx
  src/components/schedulesidebar/ScheduleSidebar.styles.tsx
  src/components/schedulesidebar/index.tsx
  src/constants/API.ts
  src/pages/schedule/index.tsx
  src/pages/schedule/scheduleRegister/ScheduleRegister.styles.tsx
  src/pages/schedule/scheduleRegister/ScheduleRegister.type.ts
  src/pages/schedule/scheduleRegister/index.tsx
  src/types/calendar.type.ts
Labels: 📬 API

#95 feat: 드라이브 레이아웃 및 사이드바 컴포넌트 추가
  src/Router.tsx
  src/components/drivesidebar/DriveSidebar.styles.tsx
  src/components/drivesidebar/index.tsx
  src/components/layout/drivelayout/DriveLayout.styles.tsx
  src/components/layout/drivelayout/DriveLayout.types.ts
  src/components/layout/drivelayout/index.tsx
  src/components/sidebar/index.tsx
  src/pages/drive/drive.styles.tsx
  src/pages/drive/drtive.types.ts
  src/pages/drive/index.tsx
  src/pages/drive/myDrive/MyDrive.styles.tsx
  src/pages/drive/myDrive/index.tsx
  src/pages/drive/myTrash/MyTrash.styles.tsx
  src/pages/drive/myTrash/index.tsx
  src/pages/drive/sharedDrive/SharedDrive.styles.tsx
  src/pages/drive/sharedDrive/index.tsx
  src/pages/drive/sharedTrash/SharedTrash.styles.tsx
  src/pages/drive/sharedTrash/index.tsx
Labels: ✨ Feature

#96 Feat#89: 성적 및 리포트 로직 수정
  src/api/examAPI.ts
  src/assets/info/warningGray.svg
  src/components/attendanceTable/index.tsx
  src/components/imageIcon/icons.ts
  src/pages/achievement/achievementDetail/AchievementDetail.styles.tsx
  src/pages/achievement/achievementDetail/index.tsx
  src/pages/achievement/achievementInfoEdit/index.tsx
  src/pages/achievement/achievementList/index.tsx
  src/pages/achievement/achievementRegister/index.tsx
  src/pages/achievement/achievementRegisterStudent/AchievementRegisterStudent.styles.tsx
  src/pages/achievement/achievementRegisterStudent/index.tsx
  src/pages/achievement/achievementScoreEdit/AchievementScoreEdit.styles.tsx
  src/pages/achievement/achievementScoreEdit/index.tsx
  src/pages/achievement/reportDetail/index.tsx
  src/pages/achievement/reportList/index.tsx
  src/pages/achievement/reportRegister/ReportRegister.styles.tsx
  src/pages/achievement/reportRegister/index.tsx
  src/pages/attendance/attendanceStatistics/DateStatistics/index.tsx
  src/pages/attendance/attendanceStatistics/MemberStatistics/index.tsx
  src/store/examStudentStore.ts
  src/types/exam.type.ts
  src/types/report.types.ts
  src/utils/formatDate.ts
Labels: 📬 API, ✨ Feature

#98 Feat#97: 마이페이지 완성
  src/Router.tsx
  src/api/profileAPI.ts
  src/assets/header/logo.svg
  src/assets/info/profile.svg
  src/assets/info/question.svg
  src/assets/profile/profileimage.svg
  src/components/header/Header.styles.tsx
  src/components/header/index.tsx
  src/components/imageIcon/ImageIcon.styles.tsx
  src/components/imageIcon/ImageIcon.types.ts
  src/components/imageIcon/icons.ts
  src/components/imageIcon/index.tsx
  src/components/layout/profilelayout/ProfileLayout.styles.tsx
  src/components/layout/profilelayout/ProfileLayout.types.ts
  src/components/layout/profilelayout/index.tsx
  src/components/modal/inviteModal/InviteModal.styles.tsx
  src/components/modal/inviteModal/InviteModal.types.ts
  src/components/modal/inviteModal/index.tsx
  src/components/profilesidebar/ProfileSidebar.styles.tsx
  src/components/profilesidebar/index.tsx
  src/constants/API.ts
  src/pages/profile/Profile.styles.tsx
  src/pages/profile/index.tsx
  src/pages/profile/myprofile/MyProfile.styles.tsx
  src/pages/profile/myprofile/index.tsx
  src/pages/profile/otherprofile/OtherProfile.styles.tsx
  src/pages/profile/otherprofile/index.tsx
  src/types/profile.types.ts
  src/utils/formatDate.ts
Labels: 📬 API, ✨ Feature

#103 Feat#91 일정등록 모달 UI 구현 및 API 연결
  src/api/calendarAPI.ts
  src/api/scheduleAPI.ts
  src/assets/calendar/deleteBtn.svg
  src/assets/calendar/editBtn.svg
  src/components/calendar/fullcalendar/calendar.type.ts
  src/components/calendar/fullcalendar/index.tsx
  src/components/modal/categoryModal/CategoryModal.styles.tsx
  src/components/modal/categoryModal/categoryEditModal/CategoryEditModal.styles.tsx
  src/components/modal/categoryModal/categoryEditModal/index.tsx
  src/components/modal/categoryModal/index.tsx
  src/components/modal/eventScheduleModal/EventScheduleModal.styles.tsx
  src/components/modal/eventScheduleModal/deleteEventModal/DeleteEventModal.styels.tsx
  src/components/modal/eventScheduleModal/deleteEventModal/index.tsx
  src/components/modal/eventScheduleModal/editEventModal/EditEventModal.styles.tsx
  src/components/modal/eventScheduleModal/editEventModal/index.tsx
  src/components/modal/eventScheduleModal/index.tsx
  src/components/modal/scheduleRegisterModal/ScheduleRegisterModal.styles.tsx
  src/components/modal/scheduleRegisterModal/ScheduleRegisterModal.types.ts
  src/components/modal/scheduleRegisterModal/index.tsx
  src/components/modal/scheduleRegisterModal/schedule/Schedule.styles.tsx
  src/components/modal/scheduleRegisterModal/schedule/index.tsx
  src/components/modal/scheduleRegisterModal/todo/Todo.styles.tsx
  src/components/modal/scheduleRegisterModal/todo/index.tsx
  src/components/schedulesidebar/ScheduleSidebar.styles.tsx
  src/components/schedulesidebar/index.tsx
  src/components/sidebar/index.tsx
  src/pages/schedule/index.tsx
  src/pages/schedule/scheduleRegister/ScheduleRegister.styles.tsx
  src/pages/schedule/scheduleRegister/ScheduleRegister.type.ts
  src/pages/schedule/scheduleRegister/index.tsx
  src/types/calendar.type.ts
  src/types/schedule.type.ts
Labels: 📬 API, ✨ Feature

#102 Feat#93 드라이브 ui완성 api연동
  package-lock.json
  package.json
  src/App.tsx
  src/api/driveAPI.ts
  src/api/mainclassAPI.ts
  src/assets/drive/archive.png
  src/assets/drive/audio.png
  src/assets/drive/checkbox.svg
  src/assets/drive/document.png
  src/assets/drive/down.svg
  src/assets/drive/folder.png
  src/assets/drive/image.png
  src/assets/drive/kebab.svg
  src/assets/drive/other.png
  src/assets/drive/ppt.png
  src/assets/drive/search.svg
  src/assets/drive/selectbox.svg
  src/assets/drive/unknown.png
  src/assets/drive/upload.svg
  src/assets/drive/video.png
  src/assets/react.svg
  src/components/drivesidebar/DriveSidebar.styles.tsx
  src/components/drivesidebar/index.tsx
  src/components/layout/drive/driveheader/DriveHeader.styles.tsx
  src/components/layout/drive/driveheader/index.tsx
  src/components/layout/drive/driveoption/DriveOption.styles.tsx
  src/components/layout/drive/driveoption/DriveOption.type.ts
  src/components/layout/drive/driveoption/index.tsx
  src/components/layout/drivelayout/DriveLayout.styles.tsx
  src/components/layout/drivelayout/index.tsx
  src/components/managesidebar/Attendance.tsx
  src/components/managesidebar/ManageSidebar.styles.tsx
  src/components/modal/deleteModal/DeleteModal.styles.tsx
  src/components/modal/deleteModal/DeleteModal.type.ts
  src/components/modal/deleteModal/index.tsx
  src/components/modal/folderModal/FolderModal.styles.tsx
  src/components/modal/folderModal/FolderModal.type.ts
  src/components/modal/folderModal/index.tsx
  src/components/popup/MainPopup.tsx
  src/components/popup/Popup.styles.tsx
  src/components/popup/Popup.types.ts
  src/components/sidebar/index.tsx
  src/constants/API.ts
  src/pages/attendance/attendanceDashboard/AttendanceDashboard.styles.tsx
  src/pages/attendance/index.tsx
  src/pages/drive/drive.styles.tsx
  src/pages/drive/drtive.types.ts
  src/pages/drive/index.tsx
  src/pages/drive/myDrive/MyDrive.styles.tsx
  src/pages/drive/myDrive/index.tsx
  src/pages/drive/myTrash/MyTrash.styles.tsx
  src/pages/drive/myTrash/index.tsx
  src/pages/drive/sharedDrive/SharedDrive.styles.tsx
  src/pages/drive/sharedDrive/index.tsx
  src/pages/drive/sharedTrash/SharedTrash.styles.tsx
  src/pages/drive/sharedTrash/index.tsx
  src/store/driveDataStore.ts
  src/types/drive.type.ts
Labels: 📬 API, ✨ Feature

#107 fix: 일정관리 캘린더 스케줄 표시 개선
  src/components/calendar/fullcalendar/index.tsx
Labels: 🔥 Fix

#110 Feat#101: 성적관리 로직 기타 오류 수정
  src/App.tsx
  src/api/examAPI.ts
  src/api/reportAPI.ts
  src/constants/API.ts
  src/pages/achievement/Achievement.styles.tsx
  src/pages/achievement/achievementDetail/index.tsx
  src/pages/achievement/achievementList/index.tsx
  src/pages/achievement/achievementRegister/index.tsx
  src/pages/achievement/achievementRegisterStudent/index.tsx
  src/pages/achievement/achievementScoreEdit/index.tsx
  src/pages/achievement/reportDetail/index.tsx
  src/pages/achievement/reportList/index.tsx
  src/pages/achievement/reportRegister/index.tsx
  src/pages/profile/myprofile/index.tsx
  src/pages/profile/otherprofile/index.tsx
  src/types/report.types.ts
Labels: 🔥 Fix

#112 Feat#108 일정관리 오류 수정
  src/components/calendar/fullcalendar/index.tsx
  src/components/modal/eventScheduleModal/editEventModal/index.tsx
  src/components/modal/scheduleRegisterModal/index.tsx
  src/components/modal/studentInfoModal/index.tsx
  src/components/schedulesidebar/index.tsx
  src/pages/attendance/attendanceDashboard/AttendanceDashboard.styles.tsx
  src/pages/attendance/attendanceDashboard/index.tsx
  src/pages/attendance/attendanceStatistics/MemberStatistics/AttendanceModal/index.tsx
  src/pages/auth/class.tsx
  src/pages/profile/otherprofile/index.tsx
  src/pages/schedule/scheduleRegister/index.tsx
Labels: 🔥 Fix

#116 fix: 발견된 오류 수정
  src/components/calendar/fullcalendar/customcalendar.css
  src/components/calendar/fullcalendar/index.tsx
  src/components/layout/drive/driveoption/index.tsx
  src/components/managesidebar/Attendance.tsx
  src/components/schedulesidebar/index.tsx
  src/pages/auth/email.tsx
  src/pages/auth/signin.tsx
  src/pages/auth/signup.tsx
  src/pages/auth/style/email.styles.tsx
  src/pages/schedule/scheduleRegister/index.tsx
  src/pages/sms/index.tsx
Labels: 🔥 Fix, 🔨 Refactor

#119 Feat#118: 리포트, 성적, 마이페이지 오류 수정
  src/components/dropDown/classDropDown/ClassDropDown.types.ts
  src/components/dropDown/classDropDown/index.tsx
  src/components/modal/inviteModal/index.tsx
  src/hooks/student/useStudentRegister.ts
  src/pages/achievement/achievementDetail/AchievementDetail.styles.tsx
  src/pages/achievement/achievementInfoEdit/index.tsx
  src/pages/achievement/achievementList/index.tsx
  src/pages/achievement/achievementRegisterStudent/AchievementRegisterStudent.styles.tsx
  src/pages/achievement/achievementRegisterStudent/index.tsx
  src/pages/achievement/achievementScoreEdit/AchievementScoreEdit.styles.tsx
  src/pages/achievement/achievementScoreEdit/index.tsx
  src/pages/achievement/reportDetail/ReportDetail.styles.tsx
  src/pages/achievement/reportDetail/index.tsx
  src/pages/achievement/reportList/index.tsx
  src/pages/achievement/reportRegister/ReportRegister.styles.tsx
  src/pages/profile/otherprofile/index.tsx
  src/pages/studentInfo/studentRegister/index.tsx
Labels: 🔥 Fix

#127 Feat#124 일정관리 / 출결관리 추가 오류 해결
  src/components/attendanceTable/AttendanceTable.styles.tsx
  src/components/attendanceTable/index.tsx
  src/components/schedulesidebar/index.tsx
  src/pages/profile/myprofile/index.tsx
Labels: 🔥 Fix, 🔨 Refactor
